---
import Layout from "../../../../layouts/Layout.astro";
import FeaturedBlogs from "../../../../components/home/featuredBlogs.astro";
import BlogList from "../../../../components/home/blogList.astro";

const API_BASE_URL = import.meta.env.STRAPI_API || 'https://service.ananyalipe.com';
const authToken = Astro.cookies.get('authToken')?.value;
const { locale } = Astro.params;

const fetchBlogs = async (isFeatured: boolean) => {
  const response = await fetch(
    `${API_BASE_URL}/api/blogs?populate=*&filters[IsFeatured][$eq]=${isFeatured}&filters[hotel][documentId][$eq]=${authToken}&filters[locale][$eq]=${locale}`
  );
  return response.json();
};

const blogsData = await fetchBlogs(true);
const blogsDataFalse = await fetchBlogs(false);
---

<Layout>
  <div>
    <div class="mx-auto lg:max-w-9/12 max-w-11/12 lg:px-8 mt-2 lg:mt-10 mb-10">
      <FeaturedBlogs blogs={blogsData.data} API_BASE_URL={API_BASE_URL} locale={locale} />
      <BlogList blogs={blogsDataFalse.data} API_BASE_URL={API_BASE_URL} locale={locale}/>
    </div>
  </div>
</Layout>
